<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="0.9.9.405" targetFramework="net40" />
  <package id="FubuCore" version="1.0.0.208" targetFramework="net40" />
  <package id="FubuLocalization" version="0.9.5.107" targetFramework="net40" />
  <package id="FubuMVC.Core" version="0.9.9.1283" targetFramework="net40" />
  <package id="FubuMVC.StructureMap" version="0.9.9.1283" targetFramework="net40" />
  <package id="HtmlTags" version="1.2.0.130" targetFramework="net40" />
  <package id="structuremap" version="2.6.3" />
</packages>