<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="0.9.1.373" />
  <package id="FubuCore" version="0.9.9.191" />
  <package id="FubuLocalization" version="0.9.5.84" />
  <package id="FubuMVC.Core" version="0.9.8.1214" />
  <package id="FubuMVC.Core.View" version="0.9.9.12" />
  <package id="FubuMVC.Spark" version="0.9.9.12" />
  <package id="FubuMVC.StructureMap" version="0.9.8.1214" />
  <package id="HtmlTags" version="1.1.0.119" />
  <package id="Spark" version="1.7.0.0" />
  <package id="structuremap" version="2.6.3" />
</packages>