<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="0.9.1.377" targetFramework="net40" />
  <package id="FubuCore" version="0.9.9.193" targetFramework="net40" />
  <package id="FubuLocalization" version="0.9.5.86" />
  <package id="FubuMVC.Coffee" version="0.0.1.444" />
  <package id="FubuMVC.Core" version="0.9.8.1223" />
  <package id="FubuMVC.SelfHost" version="0.9.8.1223" />
  <package id="FubuMVC.StructureMap" version="0.9.8.1223" />
  <package id="HtmlTags" version="1.2.0.122" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.SelfHost" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.9" targetFramework="net40" />
  <package id="Storyteller2" version="2.0.0.3" />
  <package id="structuremap" version="2.6.3" />
</packages>