Bottles
Castle.Core
DotNetZip
FubuCore
FubuLocalization
FubuMVC.Core
FubuMVC.Core.Assets
FubuMVC.Core.UI
FubuMVC.Core.View
FubuMVC.Katana
FubuMVC.OwinHost
FubuMVC.SelfHost
FubuMVC.StructureMap
FubuTestingSupport
HtmlTags
Microsoft.AspNet.WebApi.Client
Microsoft.AspNet.WebApi.Core
Microsoft.AspNet.WebApi.SelfHost
Microsoft.Net.Http
Newtonsoft.Json
NUnit
Owin
Owin.Extensions
RhinoMocks
Selenium.Support
Selenium.WebDriver
Selenium.WebDriverBackedSelenium
Storyteller2
structuremap
structuremap.automocking
